<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs')%>
    <div class="container">
       <h1><%= result.username%>ì˜ Mypage</h1>
    </div>
    

    <script>

        $('.nav-login').addClass('hide');
        $('.nav-register').addClass('hide');
    </script>
</body>
</html>